# Python virtual environment
venv_hailo_rpi5_examples/
.env/
.venv/
env/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.Python
*.so

# Build directories
build*/
build.*/
dist/
*.egg-info/

# Log files
logs/
*.log
hailort.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

# OS specific files
.DS_Store
Thumbs.db
*.bak
*.tmp
*~

# Project specific
resources/*.hef         # Model files
resources/*.json       # Configuration files

# Profiling data
gstshark_*/

# Python bytecode
*.pyc

# Temporary directories
__pycache__/
src/__pycache__/
